# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

v16/
ipch/

/.vs/embeddedProgrammingWindows/
/nucleo_f411re-blinky/BUILD
/nucleo_f411re-blinky/.vs/nucleo_f411re-blinky/
